body {
    width:100%;
    height:100%;
    margin: 0 auto;
}

ul {
    padding: 0px!important;
}
.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}
main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    padding: 16px;
    width: 70%;
}
.redes-sociais ul li {
    margin-left: 14px;
    display: inline-block;
    list-style: none;
}
.redes-sociais {
    width: 25%;
    float: right;
}

.header-2 {
    background-color: #ffffff;
    padding: 14px;
    width: 980px;
    margin: 0 auto;
}
.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    margin-left: 15px;
    color: #8b8b8b;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;
}
.busca {
    text-align: center;
    width: 30%;
    float: right;
}
.busca input {
    background-image: url("../img/Search.png");
    background-repeat: no-repeat;
    background-position: 95%;
    margin-top: 10px;
    height: 36px;
    padding: 12;
    width: 190px;
    border: 2px solid #d6d6d6;
}
.col-100 {
    width: 100%;
    float: left;
    position: relative;
}